:root {
    /* --main-bg-color: #009d63; */
    --main-text-color: #151c36;
    --second-text-color: #2f2557;
    --second-bg-color: #abb1bc;
}

body {
    background-color: #f2f2f2 !important;
    /* background-image: url(../image/bg-login.jpg);
    background-size: cover;
    background-position-y: -100px; */
}

.primary-text {
    color: var(--main-text-color);
}

.second-text {
    color: var(--second-text-color);
}

.primary-bg {
    background-color: var(--main-bg-color);
}

.secondary-bg {
    background-color: var(--second-bg-color);
}

.rounded-full {
    border-radius: 100%;
}


/* #wrapper {
    overflow-x: hidden;
    background-image: linear-gradient(
    to right,
    #baf3d7,
    #c2f5de,
    #cbf7e4,
    #d4f8ea,
    #ddfaef
    );
} */

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
}

.list-group-item {
    border: none;
    padding: 20px 30px;
}

.list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
}

.container-fluid-post {
    width: 95%;
    margin: 40px auto 0 auto;
    background-color: white;
    border-radius: 6px;
    border-top: 3px #495784 solid ;
}
form {
    margin-bottom: 20px;
}
select {
    width: 20%;
    display: inline-block;
    border-radius: 5px;
    height: 30px;
    border: 2px solid #cccccc;
}
.cari {
    width: 30%;
    border-radius: 5px;
    height: 30px;
    border: 2px solid #cccccc;
}

.saring {
    margin-right: 50px;
}
.tombol-cari , .saring {
    width: 70px;
    border-radius: 5px;
    border: 2px solid #cccccc;
    color: white;
    background-color: white;
    height: 30px;
}

.filter {
    color: #495784;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
    margin-left: 0;
    }

    #page-content-wrapper {
    min-width: 0;
    width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
    }
}