nav {
    border-bottom: 2px solid #495784 !important;
}

.container-fluid {
    text-align: justify;
}
.judul {
    margin-top: 100px;
    text-transform: uppercase;
}

#tim {
    background-color: #808B94;
    height: 600px;
}
#tim h1 {
    color: white;
    margin-top: 30px;
}

#tim img {
    width: 300px;
    height: 400px;
}
#tim h2 {
    font-size: 20px !important;
    color: #EDE6EE !important;
    font-family: Trajan Pro !important;
    margin-top: 50px;
}

#tim .rounded-img {
    height: 300px;
    border-radius: 100%;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
}

#footer {
    background-color: #5A5D80;
    text-align: center;
    color: #EDE6EE;
    font-family: Segoe Print;
}
#footer p {
    margin-top: 20px;
}
